- var FORM = LANG.form;

section.consultation
	.container
		.consultation__wrapper
			.consultation__top
				h2.consultation__title.title!= FORM.title
				p.consultation__desc!= FORM.desc
			form.form-consultation.js-registration-form(action="/" method="post")
				.form-consultation__top
					input.js-input-date(type="hidden" name="date")
					.form-consultation__inputs
						.input-wrap.form-consultation__input-wrap
							input.form-consultation__input.input-wrap__input.js-input(type="text", name="name" required)
							span.input-wrap__label.js-label!= FORM.inputName
						.input-wrap.form-consultation__input-wrap
							input.form-consultation__input.input-wrap__input.js-input(type="tel", name="phone" required)
							span.input-wrap__label.js-label!= FORM.inputPhone
						.input-wrap.form-consultation__input-wrap
							input.form-consultation__input.input-wrap__input.js-input(type="email", name="email" required)
							span.input-wrap__label.js-label!= FORM.inputEmail
					button.form-consultation__btn.btn!= FORM.button_2
				.form-consultation__checkbox.checkbox
					label.checkbox__label!= FORM.checkbox
						input.checkbox__input(type="checkbox" required)
						span.checkbox__checkmark
							i.fico.fico-check