- var PREVIEW = LANG.preview;

section.preview
	.container
		.preview__video.js-youtube
			h2.preview__title.title.title--med.js-youtube-title!= PREVIEW.title
			.preview__button.js-youtube-button
				span!= PREVIEW.button
			#player
		.preview__bottom
			h4.preview__subtitle!= PREVIEW.subtitle
			ul.preview__list.list-preview
				li.list-preview__text.preview__item
					i.fico.fico-arrowList
					span!= PREVIEW.item_1
				li.list-preview__text.preview__item
					i.fico.fico-arrowList
					span!= PREVIEW.item_2
				li.list-preview__text.preview__item
					i.fico.fico-arrowList
					span!= PREVIEW.item_3