- var REASONS = LANG.reasons;
include ../templates/mixins/list.pug

section.reasons#reasons
	.wrapper
		.reasons__wrapper
			.reasons__item.reasons__item--first.reasons__item--green.js-item-reasons.active
				.reasons__top.js-btn-reasons
					h2.reasons__title-preview!= REASONS.title_1
					i.fico.fico-arrow
				.reasons__bottom.js-info-reasons(style="display: block")
					.reasons__content
						.reasons__wrap-title
							h2.reasons__title.title.title--med!= REASONS.title_1
							.reasons__label.reasons__label--desc
								img.reasons__label-ico(src="img/label_ico.png", alt="")
								p.reasons__label-text!= REASONS.label
						+list(REASONS.list_1).reasons__list.list--green
			.reasons__item.reasons__item--pink.js-item-reasons
				.reasons__top.js-btn-reasons
					h2.reasons__title-preview!= REASONS.title_2
					i.fico.fico-arrow
				.reasons__bottom.js-info-reasons
					.reasons__content
						.reasons__wrap-title
							h2.reasons__title.title.title--med!= REASONS.title_2
						+list(REASONS.list_2).reasons__list.list--pink
		.reasons__label.reasons__label--mob
			img.reasons__label-ico(src="img/label_ico.png", alt="")
			p.reasons__label-text!= REASONS.label