- var STORIES = LANG.stories;

mixin story(photo, name, text)
	.story
		img.story__decor(src="img/svg/stories_bg.svg", alt="")
		img.story__photo(src=photo, alt=name)
		.story__info
			p.story__name!= name
			.story__text
				each item in text
					p!= item

-
	const photoStoty = [
		'img/story_photo_1.jpg'
	];

section.stories
	.wrapper
		img.stories__quotes(src="img/svg/quotes.svg", alt="")
		h2.stories__title.title.title--med!= STORIES.title
		.stories__slider
			each item, key in STORIES.slider
				+story(photoStoty[key], item.name, item.text)