- var STRUCTURE = LANG.structure;
include ../templates/mixins/question.pug




section.structure#structure
	.container
		.structure__top
			.structure__left
				h2.structure__title.title.title--med!= STRUCTURE.title
				.structure__info
					p.structure__label!= STRUCTURE.label
					button.structure__btn.btn.js-scroll(data-target="#registration")!= STRUCTURE.button
			.structure__list.js-accordeon
				each question in STRUCTURE.questionArray
					+question(question)
		.structure__bottom
			p.structure__label!= STRUCTURE.label
			button.structure__btn.btn.js-scroll(data-target="#registration")!= STRUCTURE.button