<!DOCTYPE html>
html(lang=LANG.locale)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Introduction to Data Analytics. 5 steps to get into new highly-paidremote profession.")
    link(rel="stylesheet", href="css/main.css")
    title!= LANG.title
    script.
      var locale = "!{LANG.locale}";
    script.
      //- Google Tag Manager
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KBNGKD6');
      //- End Google Tag Manager

    //- Meta Pixel Code
    script.
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1753778168327217');
      fbq('track', 'PageView');
    //- End Meta Pixel Code
  body
    //- Google Tag Manager (noscript)
    noscript
    iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-KBNGKD6" height="0" width="0" style="display:none;visibility:hidden")
    //- End Google Tag Manager (noscript)

    //- Meta Pixel Code
    noscript
      img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=1753778168327217&ev=PageView&noscript=1')
    //- End Meta Pixel Code
    include templates/mixins/menu.pug
    +menu('index')
    include templates/promo
    include templates/benefits
    include templates/reasons
    include templates/preview
    include templates/program
    include templates/structure
    include templates/tutors
    include templates/consultation-form
    include templates/support
    include templates/guarantees
    .wrapper
      .line
    include templates/stories
    include templates/registration
    include templates/faq
    include templates/footer
    .overlay.js-overlay

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="js/main.js")
